<h1>Editing inventory food</h1>

<%= render "form", inventory_food: @inventory_food %>

<br>

<div>
  <%= link_to "Show this inventory food", @inventory_food %> |
  <%= link_to "Back to inventory foods", inventory_foods_path %>
</div>
