<div id="<%= dom_id public_recipe %>">
  <p> Hello </p>
  <p>
    <strong>Name:</strong>
    <%= public_recipe.name %>
  </p>
  <p>
    <strong>by: </strong>
    <%= public_recipe.user.name %>
  </p>
</div>