<tbody>
  <tr>
    <td><%= food.name %></td>
    <td><%= food.measurement_unit %></td>
    <td> $ <%= food.price%></td>
    <td>
      <%= button_to "Delete", food, :method => :delete, data: { confirm: "Are you sure?" } %>
    </td>
  </tr>
</tbody>
