<h1 class="foods_title">Foods</h1>

<p style="color: red"><%= notice %></p>

<h1 class="recipes_header">Foods</h1>

<div id="foods">
  <%= link_to "Add food", new_food_path, class: "add-food" %>
  <table>
    <thead>
      <tr>
        <th>Food</th>
        <th>Measurement</th>
        <th>Unit Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <% @foods.each do |food| %>
      <%= render food %>
    <% end %>
  </table>
</div>
