<h1>Shopping List 🛒</h1>

<div class="shopping_list">
  <table class="table">
    <thead>
    </thead>
    <tbody>
      <% value = 5%>
      <% items = 4%>
      <div class="button-cont">
        <h4>Amount of Food items to buy : <%=items%></h4>
        <h4>Total Value of Food Needed : <%=value%>$</h4>
        <h4>Food Quantity Price : <%=total = value*items%>$</h4>
      </div>
    </tbody>
  </table>
