body {
  height: 100vh;
}

.inventory_name strong {
  font-size: 1.5rem;
}

.inventory_name span {
  color: green;
  font-weight: bold;
}

table {
  border: 1px solid #b3adad;
  border-collapse: collapse;
  padding: 2rem;
  margin: 1rem auto;
  font-size: 1.3rem;
}

table th {
  border: 1px solid #b3adad;
  padding: 1rem 2rem 1rem 2rem;
  background: #c9a282;
  color: #313030;
}

table td {
  border: 1px solid #b3adad;
  text-align: center;
  padding: 1rem 2rem 1rem 2rem;
  background: #746767;
  color: #0c0b0b;
  font-size: 1.3rem;
}

.delete_btn button {
  background-color: red;
  font-weight: bold;
  cursor: pointer;
}

.add_inventory_food_form {
  margin: 0 auto;
  width: 90%;
  display: block;
}

.add_inventory_food_btn {
  margin: 1rem auto;
  background-color: green;
  padding: 1rem;
  cursor: pointer;
  border: none;
  display: block;
}

#inventory_food_food_id {
  width: 50%;
  margin: 0.8rem 0;
  font-size: 1rem;
  padding: 0.2rem 0 0.2rem 0.2rem;
}

#inventory_food_inventory_id {
  width: 50%;
  font-size: 1rem;
  margin: 0.8rem 0;
}

#inventory_food_quantity {
  width: 50%;
}
